body {
	margin-top: 50px;
    min-height: 100%;
}

#ap img {
	height: 25px;
}

.navbar {
	background-image: none;
	background-color: #034196;
	border-bottom: none;
	-webkit-box-shadow: -1px -1px 21px 4px rgba(77,77,77,1);
	-moz-box-shadow: -1px -1px 21px 4px rgba(77,77,77,1);
	box-shadow: -1px -1px 21px 4px rgba(77,77,77,1);
}

#my-navbar ul li a {
    font-family: 'Bitter', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #eee;
    border-bottom: 4px solid #034196;
}

#my-navbar ul li a.active, #my-navbar ul li a:hover {
	color: #ffa500;
	border-bottom: 4px solid #ffa500;
}

#login-dp{
	top: 54px;
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px    
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .social-buttons{
    margin:12px 0    
}

#login-dp .social-buttons a{
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color:#3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color:#496ebc; 
}

.btn-tw {
    color: #fff;
    background-color:#55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top:0 none;
    }
}

.modal {
	top: 15%;
}

.modal-header {
	color: #fff;
	background-color: #0d57bd;
	text-align: center; 
}

.modal-body {

}

.jumbotron {
    padding-top: 70px;
	height: 300px;
	background-image: url("http://wallpapershome.ru/images/pages/pic_h/225.jpg");
	background-size: 100% 900px;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #c1e0ff;
    font-family: 'Bitter', sans-serif;
    font-weight: bold;
}


.thumbnail {
    position:relative;
    overflow:hidden;
}
.thumbnail img {
    height: 250px !important;
}

 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}

.container .row a {
    color: #0d57bd;
    font-weight: 700;
    text-decoration: none;
}
.container .row a:hover {
    color: red;

}
.container .row .read {
    margin-right: 20px;

}

.img-responsive {
    height:250px;
    width: 450px;
}

#footer {
	position: relative;
    height: 70px;
	bottom: 0px;
	width: 100%;
    box-sizing: border-box;
	clear: both;
}